/* img {
    width: 100%;
} */

img {
    display: block;
}

.carousel {
    margin-top: 5px;
    text-align: center;
}

.active-icon {
    color: rgb(255, 134, 154)
}

.inactive-icon {
    color: rgb(168, 168, 168);
}

.carousel i {
    margin: 0px 3px 0px 3px;
}

.description {
    padding: 15px;
    margin: 20px 5px 20px 5px;
    background-color: rgba(233, 233, 233, 0.61)
}

.title {
    padding: 10px 0px 0px 0px;
    /* background-color: gray; */
    color: white;
    /* margin-bottom: 5px; */
}

#next,
#previous {
    background-color: transparent;
}

.images {
    margin-top: 10px;
}

.link {
    text-align: center;
    margin-bottom: 5px;
    padding: 8px 0px 8px 0px;
    background-color: rgba(233, 233, 233, 0.61);
}

#link {
    color: rgb(255, 134, 154)
}