.contact {
    margin-top: 10px;
}

ul {
    text-align: center;
}

li {
    display: inline;
    padding: 20px;
}

.projects {
    margin: 0px;
}

.project-list {
    margin-top: 10px;
}

.project-name {
    display: block;
    text-align: center;
    padding: 5px;
}