.contact {
    margin-top: 10px;
    width: 60%;
}

form {
    margin: 10px 0px 10px 0px;
    width: 100%;
    text-align: center;
}

.user-contact {
    width: 80%;
    margin: 0 auto;
}

#message {
    width: 75%;
    margin-top: 10px;
}

.contact-header {
    display: block;
    text-align: center;
    background-color: rgb(65, 65, 65);
    color: white;
    padding: 5px;    
}

/* #message {
    width: 60%;
} */

.project-header {
    display: block;
    text-align: center;
    background-color: rgb(65, 65, 65);
    color: white;
    padding: 5px;
}

.projects {
    margin: 15px 0px 0px 0px;
}

.project-name {
    display: block;
    text-align: center;
    padding: 5px;
}

button {
    border: none;
}