.contact {
    margin-top: 10px;
    width: 60%;
}

form {
    margin: 30px 0px 10px 0px;
    width: 100%;
    text-align: center;
}

.user-contact {
    width: 80%;
    margin: 0 auto;
}

#email {
    margin-top: 10px;
}

#message {
    width: 75%;
    margin-top: 10px;
    padding: 5px;
}

#submit {
    margin-top: 10px;
    padding: 5px 15px 5px 15px;
    background-color: rgb(255, 134, 154);
    color: white;
    border-radius: 3px;
}

.contact-header {
    display: block;
    text-align: center;
    background-color: rgb(65, 65, 65);
    color: white;
    padding: 5px;
    border-bottom: 2px solid rgb(255, 134, 154);    
}

/* #message {
    width: 60%;
} */

.project-header {
    display: block;
    text-align: center;
    background-color: rgb(65, 65, 65);
    color: white;
    padding: 5px;
    border-bottom: 2px solid rgb(255, 134, 154);    

}

.projects {
    margin: 15px 0px 0px 0px;
}

.project-name {
    display: block;
    text-align: center;
    padding: 5px;
}

button {
    border: none;
}