.header {
    text-align: center;
}

.active-page {
    color: rgb(255, 134, 154);
}

.inactive-page {
    color: white;
}

.name {
    color: white;
}

.job {
    text-align: center;
    color: white;
}